*{
    align-items: center;
    
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}
body{
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.clock{
   position: relative;
   width: 60%;
   height: 100%;
   transform: translateY(-3px);
  
}
.box{ display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
   
}
.container{
    box-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
    0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 #ccc,
    0 7px 0 #ccc, 0 8px 0 #ccc,
    0 9px 0 #ccc, 0 8px 0 #ccc,
    0 11px 0 #ccc, 0 8px 0 #ccc,
    0 20px 30px rgba(211, 198, 198, 0.5);


    background-image: url(Clockimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border: solid black 2px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: auto;
    
    
}
.hand{
    
    background-color: black;
    width: 50%;
    height: 2px;
  
    top: 50%;
    position: absolute;
   transform: rotate(90deg);
    transition: all .5s cubic-bezier(0.1,2.7,.58,1);
    transform-origin: 100%;
}

#second{
    background-color: black(247, 199, 199);
}
#minute{
    background-color: black;
}

